In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('csv_data/10000 Movies Data.csv')
movies.rename(columns={'Movie_id':'id','Keywords':'keywords','Genres':'genres'},inplace=True)
movies.drop_duplicates(subset=['title'],keep='first',inplace=True)
movies.head()

,id,title,genres,release_date,keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count
0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814
1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542
2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187
3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-10-19,[],"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,100000000,22.150,8.6,3927
4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",1993-12-15,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,321365567,53.542,8.6,13382

In [3]:
cradits = pd.read_csv('csv_data/10000 Credits Data.csv')
cradits.rename(columns={'Movie_id':'movie_id','Cast':'cast','Crew':'crew'},inplace=True)
cradits.head()

,movie_id,title,cast,crew
0,238,The Godfather,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [4]:
cradits.drop('title',axis=1)

,movie_id,cast,crew
0,238,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."
...,...,...,...
9975,384737,"[{'adult': False, 'gender': 2, 'id': 62, 'know...","[{'adult': False, 'gender': 2, 'id': 4951, 'kn..."
9976,282813,"[{'adult': False, 'gender': 1, 'id': 589098, '...","[{'adult': False, 'gender': 2, 'id': 5673, 'kn..."
9977,134375,"[{'adult': False, 'gender': 1, 'id': 8338, 'kn...","[{'adult': False, 'gender': 2, 'id': 11505, 'k..."
9978,10477,"[{'adult': False, 'gender': 2, 'id': 16483, 'k...","[{'adult': False, 'gender': 1, 'id': 2324, 'kn..."
9979,243688,"[{'adult': False, 'gender': 2, 'id': 6807, 'kn...","[{'adult': False, 'gender': 0, 'id': 8375, 'kn..."

## exploring shapes of both data

In [5]:
movies.shape ,cradits.shape

((9642, 12), (9980, 4))

## merging data

In [6]:
movies = movies.merge(cradits,left_on='id',right_on='movie_id', suffixes=('x',''))
movies.shape

(9642, 16)

In [7]:
movies_data = movies
movies.sample(10,random_state=200)

,id,titlex,genres,release_date,keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count,movie_id,title,cast,crew
616,614934,Elvis,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",2022-06-22,"[{'id': 578, 'name': ""rock 'n' roll""}, {'id': ...",The life story of Elvis Presley as seen throug...,/qBOKWqAFbveZ4ryjJJwbie6tXkQ.jpg,286000000,286000000,180.974,7.8,1710,614934,Elvis,"[{'adult': False, 'gender': 2, 'id': 86654, 'k...","[{'adult': False, 'gender': 2, 'id': 6201, 'kn..."
4314,10156,History of the World: Part I,"[{'id': 35, 'name': 'Comedy'}]",1981-06-12,"[{'id': 344, 'name': 'inquisition'}, {'id': 48...",An uproarious version of history that proves n...,/6iAl78qZHT65erPXr2YW6Y54wlY.jpg,31672907,31672907,12.416,6.8,622,10156,History of the World: Part I,"[{'adult': False, 'gender': 2, 'id': 14639, 'k...","[{'adult': False, 'gender': 1, 'id': 597, 'kno..."
1420,9028,The Great Silence,"[{'id': 37, 'name': 'Western'}, {'id': 28, 'na...",1968-02-21,"[{'id': 75, 'name': 'gunslinger'}, {'id': 625,...",A mute gunslinger fights in the defense of a g...,/3kpxS7SZMyYSXvhDnmxQXOOxiTM.jpg,0,0,8.265,7.5,292,9028,The Great Silence,"[{'adult': False, 'gender': 2, 'id': 1352, 'kn...","[{'adult': False, 'gender': 2, 'id': 1259, 'kn..."
7413,10641,Autumn in New York,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",2000-08-11,"[{'id': 1605, 'name': 'new love'}, {'id': 2038...",Autumn in New York follows the sexual exploits...,/vmHvrhfYfUZ58RtLaq4LOHp9q5m.jpg,0,0,13.160,6.1,587,10641,Autumn in New York,"[{'adult': False, 'gender': 2, 'id': 1205, 'kn...","[{'adult': False, 'gender': 2, 'id': 68602, 'k..."
5785,9350,Cliffhanger,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1993-05-28,"[{'id': 1262, 'name': 'mountain'}, {'id': 2805...","A year after losing his friend in a tragic 4,0...",/8v2nPPLvhEVlfXu08UZ0djK31be.jpg,255000211,255000211,20.855,6.5,1930,9350,Cliffhanger,"[{'adult': False, 'gender': 2, 'id': 16483, 'k...","[{'adult': False, 'gender': 2, 'id': 1096, 'kn..."
8396,679989,Simply Black,"[{'id': 35, 'name': 'Comedy'}]",2020-07-08,[],A failed 40 year old comedian wants to organiz...,/hYzYdsZJyBp3Rd6aLaTo5bp47iq.jpg,0,0,7.760,5.8,307,679989,Simply Black,"[{'adult': False, 'gender': 2, 'id': 1496508, ...","[{'adult': False, 'gender': 2, 'id': 1130744, ..."
6876,371560,The Eyes of My Mother,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",2016-12-02,"[{'id': 10201, 'name': 'death of father'}, {'i...","A young, lonely woman is consumed by her deepe...",/hoR1TAxIkO1rRHu3F7cWzKZqxq.jpg,0,0,11.359,6.2,256,371560,The Eyes of My Mother,"[{'adult': True, 'gender': 1, 'id': 1383777, '...","[{'adult': False, 'gender': 2, 'id': 56369, 'k..."
8451,11851,The Presidio,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",1988-06-10,"[{'id': 271, 'name': 'competition'}, {'id': 58...",Jay Austin is now a civilian police detective....,/pHYtq4wFaUy5Rfa8lRi24QMUwRY.jpg,20324096,20324096,7.896,5.8,262,11851,The Presidio,"[{'adult': False, 'gender': 2, 'id': 738, 'kno...","[{'adult': False, 'gender': 2, 'id': 912, 'kno..."
2018,850,A Christmas Story,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",1983-11-18,"[{'id': 65, 'name': 'holiday'}, {'id': 5609, '...",The comic mishaps and adventures of a young bo...,/f3VITMLSmP3Ai65AvXT54RcF5Sw.jpg,20653717,20653717,10.317,7.3,995,850,A Christmas Story,"[{'adult': False, 'gender': 1, 'id': 4778, 'kn...","[{'adult': False, 'gender': 1, 'id': 597, 'kno..."
4881,136403,Populaire,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",2012-11-27,"[{'id': 34030, 'name': 'typewriter'}, {'id': 2...",Rose Pamphyle lives with her widowed father an...,/jx65eLATUdXLC275teIKfviKJGV.jpg,0,0,10.512,6.7,481,136403,Populaire,"[{'adult': False, 'gender': 2, 'id': 17497, 'k...","[{'adult': False, 'gender': 2, 'id': 20593, 'k..."

## columns to keep
- genres
- title
- overview
- keywords
- id
- cast 
- crew

In [8]:
colums_to_keep = ['id','title','keywords','genres','cast','overview','crew']
movies = movies[colums_to_keep]
movies

,id,title,keywords,genres,cast,overview,crew
0,238,The Godfather,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","Spanning the years 1945 to 1955, a chronicle o...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'adult': False, 'gender': 2, 'id': 504, 'kno...",Framed in the 1940s for the double murder of h...,"[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...",In the continuing saga of the Corleone crime f...,"[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,[],"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","Raj is a rich, carefree, happy-go-lucky second...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,"[{'id': 818, 'name': 'based on novel or book'}...","[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...",The true story of how businessman Oskar Schind...,"[{'adult': False, 'gender': 2, 'id': 491, 'kno..."
...,...,...,...,...,...,...,...
9637,11310,City Slickers II: The Legend of Curly's Gold,"[{'id': 1197, 'name': 'nevada'}, {'id': 1321, ...","[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'adult': False, 'gender': 2, 'id': 7904, 'kn...",Mitch Robbins 40th birthday begins quite well ...,"[{'adult': False, 'gender': 2, 'id': 7783, 'kn..."
9638,384737,Precious Cargo,"[{'id': 9730, 'name': 'crime boss'}, {'id': 10...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'adult': False, 'gender': 2, 'id': 62, 'know...","After a botched heist, Eddie a murderous crim...","[{'adult': False, 'gender': 2, 'id': 4951, 'kn..."
9639,282813,The Pyramid,"[{'id': 1299, 'name': 'monster'}, {'id': 3762,...","[{'id': 27, 'name': 'Horror'}]","[{'adult': False, 'gender': 1, 'id': 589098, '...",An archaeological team attempt to unlock the s...,"[{'adult': False, 'gender': 2, 'id': 5673, 'kn..."
9640,134375,Home Alone: The Holiday Heist,"[{'id': 207317, 'name': 'christmas'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...","[{'adult': False, 'gender': 1, 'id': 8338, 'kn...",8-year-old Finn is terrified to learn his fami...,"[{'adult': False, 'gender': 2, 'id': 11505, 'k..."
9641,10477,Driven,"[{'id': 271, 'name': 'competition'}, {'id': 36...","[{'id': 28, 'name': 'Action'}]","[{'adult': False, 'gender': 2, 'id': 16483, 'k...",Talented rookie race-car driver Jimmy Bly has ...,"[{'adult': False, 'gender': 1, 'id': 2324, 'kn..."

In [9]:
movies['keywords'][0]

"[{'id': 131, 'name': 'italy'}, {'id': 697, 'name': 'loss of loved one'}, {'id': 699, 'name': 'love at first sight'}, {'id': 818, 'name': 'based on novel or book'}, {'id': 1295, 'name': 'europe'}, {'id': 1715, 'name': 'symbolism'}, {'id': 4677, 'name': 'patriarch'}, {'id': 10291, 'name': 'organized crime'}, {'id': 10391, 'name': 'mafia'}, {'id': 10909, 'name': 'lawyer'}, {'id': 11001, 'name': 'religion'}, {'id': 15095, 'name': 'revenge motive'}, {'id': 33421, 'name': 'crime family'}, {'id': 155538, 'name': 'sicilian mafia'}, {'id': 156043, 'name': 'religious hypocrisy'}, {'id': 163656, 'name': 'gun violence'}, {'id': 165725, 'name': 'rise to power'}, {'id': 180173, 'name': 'dead horse'}, {'id': 181858, 'name': 'gang violence'}, {'id': 207883, 'name': '1940s'}, {'id': 208611, 'name': '1950s'}, {'id': 257630, 'name': 'mafia war'}, {'id': 295351, 'name': 'part of trilogy'}]"

## handling keywords and geners

In [10]:
import ast

def convert_tags_to_list(obj):
    li = []
    for i in ast.literal_eval(obj):
        li.append(i['name'])
    return li

In [11]:
movies['keywords'] = movies['keywords'].apply(convert_tags_to_list)
movies['genres'] = movies['genres'].apply(convert_tags_to_list)

C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\3866045656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(convert_tags_to_list)
C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\3866045656.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert_tags_to_list)

In [12]:
movies.head()

,id,title,keywords,genres,cast,overview,crew
0,238,The Godfather,"[italy, loss of loved one, love at first sight...","[Drama, Crime]","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","Spanning the years 1945 to 1955, a chronicle o...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,"[prison, corruption, police brutality, based o...","[Drama, Crime]","[{'adult': False, 'gender': 2, 'id': 504, 'kno...",Framed in the 1940s for the double murder of h...,"[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,"[italy, italian american, cuba, symbolism, gan...","[Drama, Crime]","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...",In the continuing saga of the Corleone crime f...,"[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,[],"[Comedy, Drama, Romance]","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","Raj is a rich, carefree, happy-go-lucky second...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,"[based on novel or book, factory, concentratio...","[Drama, History, War]","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...",The true story of how businessman Oskar Schind...,"[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [13]:
movies['cast'][0]

'[{\'adult\': False, \'gender\': 2, \'id\': 3084, \'known_for_department\': \'Acting\', \'name\': \'Marlon Brando\', \'original_name\': \'Marlon Brando\', \'popularity\': 15.274, \'profile_path\': \'/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg\', \'cast_id\': 5, \'character\': \'Don Vito Corleone\', \'credit_id\': \'52fe422bc3a36847f8009357\', \'order\': 0}, {\'adult\': False, \'gender\': 2, \'id\': 1158, \'known_for_department\': \'Acting\', \'name\': \'Al Pacino\', \'original_name\': \'Al Pacino\', \'popularity\': 32.169, \'profile_path\': \'/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg\', \'cast_id\': 6, \'character\': \'Don Michael Corleone\', \'credit_id\': \'52fe422bc3a36847f800935b\', \'order\': 1}, {\'adult\': False, \'gender\': 2, \'id\': 3085, \'known_for_department\': \'Acting\', \'name\': \'James Caan\', \'original_name\': \'James Caan\', \'popularity\': 23.916, \'profile_path\': \'/bGyOCCOIgcIyKjOGLoXoyp0XWHf.jpg\', \'cast_id\': 7, \'character\': "Santino \'Sonny\' Corleone", \'credit_id\': \'52fe422bc3a36847f800935f\', \'order\': 2}, {\'adult\': False, \'gender\': 2, \'id\': 3087, \'known_for_department\': \'Acting\', \'name\': \'Robert Duvall\', \'original_name\': \'Robert Duvall\', \'popularity\': 24.079, \'profile_path\': \'/ybMmK25h4IVtfE7qrnlVp47RQlh.jpg\', \'cast_id\': 9, \'character\': \'Tom Hagen\', \'credit_id\': \'52fe422bc3a36847f8009367\', \'order\': 3}, {\'adult\': False, \'gender\': 0, \'id\': 3086, \'known_for_department\': \'Acting\', \'name\': \'Richard S. Castellano\', \'original_name\': \'Richard S. Castellano\', \'popularity\': 10.388, \'profile_path\': \'/1vr75BdHWret81vuSJ3ugiCBkxw.jpg\', \'cast_id\': 8, \'character\': \'Pete Clemenza\', \'credit_id\': \'52fe422bc3a36847f8009363\', \'order\': 4}, {\'adult\': False, \'gender\': 1, \'id\': 3092, \'known_for_department\': \'Acting\', \'name\': \'Diane Keaton\', \'original_name\': \'Diane Keaton\', \'popularity\': 21.404, \'profile_path\': \'/7gEdH5vGwpUpogscTb2JivnoRBb.jpg\', \'cast_id\': 13, \'character\': \'Kay Adams\', \'credit_id\': \'52fe422bc3a36847f8009377\', \'order\': 5}, {\'adult\': False, \'gender\': 1, \'id\': 3094, \'known_for_department\': \'Acting\', \'name\': \'Talia Shire\', \'original_name\': \'Talia Shire\', \'popularity\': 14.677, \'profile_path\': \'/due9MtmbvCMDd1aNveuMyjsaZ8W.jpg\', \'cast_id\': 15, \'character\': "Constanzia \'Connie\' Corleone-Rizzi", \'credit_id\': \'52fe422bc3a36847f800937f\', \'order\': 6}, {\'adult\': False, \'gender\': 2, \'id\': 3095, \'known_for_department\': \'Acting\', \'name\': \'Gianni Russo\', \'original_name\': \'Gianni Russo\', \'popularity\': 8.099, \'profile_path\': \'/5fjg2WPvuk1NvUpLyQ7aMJqOqy.jpg\', \'cast_id\': 16, \'character\': \'Carlo Rizzi\', \'credit_id\': \'52fe422bc3a36847f8009383\', \'order\': 7}, {\'adult\': False, \'gender\': 2, \'id\': 3088, \'known_for_department\': \'Acting\', \'name\': \'Sterling Hayden\', \'original_name\': \'Sterling Hayden\', \'popularity\': 12.446, \'profile_path\': \'/j1ExJbuBqBa6WEhPVW4J7YGFBWs.jpg\', \'cast_id\': 10, \'character\': \'Capt. Mark McCluskey\', \'credit_id\': \'52fe422bc3a36847f800936b\', \'order\': 8}, {\'adult\': False, \'gender\': 2, \'id\': 3091, \'known_for_department\': \'Acting\', \'name\': \'Al Lettieri\', \'original_name\': \'Al Lettieri\', \'popularity\': 8.127, \'profile_path\': \'/fE5mEWPkkVJlCji0EoKht8PYw89.jpg\', \'cast_id\': 12, \'character\': "Virgil \'The Turk\' Sollozzo", \'credit_id\': \'52fe422bc3a36847f8009373\', \'order\': 9}, {\'adult\': False, \'gender\': 2, \'id\': 3093, \'known_for_department\': \'Acting\', \'name\': \'Abe Vigoda\', \'original_name\': \'Abe Vigoda\', \'popularity\': 6.822, \'profile_path\': \'/luWKPNb58IgJ2ovrtgPAzHGLLYL.jpg\', \'cast_id\': 14, \'character\': "Salvatore \'Sal\' Tessio", \'credit_id\': \'52fe422bc3a36847f800937b\', \'order\': 10}, {\'adult\': False, \'gender\': 2, \'id\': 3096, \'known_for_department\': \'Acting\', \'name\': \'John Cazale\', \'original_name\': \'John Cazale\', \'popularity\': 10.158, \'profile_path\': \'/tRBImYIYk9tuR4fjJc8gHXC8ENj.jpg\', \'cast_id\': 17, \'character\': "Frederico \'Fredo\' Corleone", \'credit_id\': \'52fe422bc3a36847f8009387\', \'order\': 11}, {\'adult\': False, \'gender\': 2, \'id\': 3090, \'known_for_department\': \'Acting\', \'name\': \'Richard Conte\', \'original_name\': \'Richard Conte\', \'popularity\': 9.971, \'profile_path\': \'/pTTzNets0bgWAqx18D7by0hWUea.jpg\', \'cast_id\': 11, \'character\': \'Don Emilio Barzini\', \'credit_id\': \'52fe422bc3a36847f800936f\', \'order\': 12}, {\'adult\': False, \'gender\': 2, \'id\': 3142, \'known_for_department\': \'Acting\', \'name\': \'John Marley\', \'original_name\': \'John Marley\', \'popularity\': 2.497, \'profile_path\': None, \'cast_id\': 33, \'character\': \'Jack Woltz\', \'credit_id\': \'52fe422bc3a36847f800938b\', \'order\': 13}, {\'adult\': False, \'gender\': 2, \'id\': 3143, \'known_for_department\': \'Acting\', \'name\': \'Rudy Bond\', \'original_name\': \'Rudy Bond\', \'popularity\': 1.948, \'profile_path\': \'/kP77m6ot9dfOR2V3ykbyOAx2diK.jpg\', \'cast_id\': 34, \'character\': \'Carmine Cuneo\', \'credit_id\': \'52fe422bc3a36847f800938f\', \'order\': 14}, {\'adult\': False, \'gender\': 2, \'id\': 3144, \'known_for_department\': \'Acting\', \'name\': \'Al Martino\', \'original_name\': \'Al Martino\', \'popularity\': 2.803, \'profile_path\': \'/9luOyyiqWFNQgSOSStH66LTWZ3p.jpg\', \'cast_id\': 35, \'character\': \'Johnny Fontane\', \'credit_id\': \'52fe422bc3a36847f8009393\', \'order\': 15}, {\'adult\': False, \'gender\': 1, \'id\': 933716, \'known_for_department\': \'Acting\', \'name\': \'Morgana King\', \'original_name\': \'Morgana King\', \'popularity\': 1.88, \'profile_path\': \'/zPsFAqH4NXD7rMWl2Kj3rEyGrKj.jpg\', \'cast_id\': 42, \'character\': "Carmela \'Mama\' Corleone", \'credit_id\': \'52fe422bc3a36847f80093a7\', \'order\': 16}, {\'adult\': False, \'gender\': 2, \'id\': 106811, \'known_for_department\': \'Acting\', \'name\': \'Lenny Montana\', \'original_name\': \'Lenny Montana\', \'popularity\': 3.293, \'profile_path\': \'/3R52Zh3MBCaSPqmcyWcD1Y0N4wo.jpg\', \'cast_id\': 45, \'character\': \'Luca Brasi\', \'credit_id\': \'52fe422bc3a36847f80093b3\', \'order\': 17}, {\'adult\': False, \'gender\': 2, \'id\': 99724, \'known_for_department\': \'Acting\', \'name\': \'John Martino\', \'original_name\': \'John Martino\', \'popularity\': 1.327, \'profile_path\': \'/3c8BOgJ8UdHi5x5BS3lYnFngxB5.jpg\', \'cast_id\': 47, \'character\': \'Paulie Gatto\', \'credit_id\': \'52fe422bc3a36847f80093bb\', \'order\': 18}, {\'adult\': False, \'gender\': 2, \'id\': 20752, \'known_for_department\': \'Acting\', \'name\': \'Alex Rocco\', \'original_name\': \'Alex Rocco\', \'popularity\': 5.939, \'profile_path\': \'/u2JStL4Pk9Huq1xmrjqezfysivt.jpg\', \'cast_id\': 41, \'character\': \'Moe Greene\', \'credit_id\': \'52fe422bc3a36847f80093a3\', \'order\': 19}, {\'adult\': False, \'gender\': 0, \'id\': 1195877, \'known_for_department\': \'Acting\', \'name\': \'Salvatore Corsitto\', \'original_name\': \'Salvatore Corsitto\', \'popularity\': 3.583, \'profile_path\': \'/79OfgwtdP5qsR1UX6ERkrdmRT8c.jpg\', \'cast_id\': 46, \'character\': \'Amerigo Bonasera\', \'credit_id\': \'52fe422bc3a36847f80093b7\', \'order\': 20}, {\'adult\': False, \'gender\': 2, \'id\': 3414, \'known_for_department\': \'Acting\', \'name\': \'Tony Giorgio\', \'original_name\': \'Tony Giorgio\', \'popularity\': 2.891, \'profile_path\': \'/1uhgwgjoX7WaakEOBmtBRJKtgEB.jpg\', \'cast_id\': 38, \'character\': \'Bruno Tattaglia\', \'credit_id\': \'52fe422bc3a36847f800939f\', \'order\': 21}, {\'adult\': False, \'gender\': 2, \'id\': 3413, \'known_for_department\': \'Acting\', \'name\': \'Victor Rendina\', \'original_name\': \'Victor Rendina\', \'popularity\': 3.206, \'profile_path\': \'/vuNdsjDpgom80WBdB2WBTWuEIuM.jpg\', \'cast_id\': 37, \'character\': \'Philip Tattaglia\', \'credit_id\': \'52fe422bc3a36847f800939b\', \'order\': 22}, {\'adult\': False, \'gender\': 1, \'id\': 3145, \'known_for_department\': \'Acting\', \'name\': \'Simonetta Stefanelli\', \'original_name\': \'Simonetta Stefanelli\', \'popularity\': 9.643, \'profile_path\': \'/sVDrhgxuE6SHnj7q07OG6ywPUYR.jpg\', \'cast_id\': 36, \'character\': \'Apollonia Vitelli-Corleone\', \'credit_id\': \'52fe422bc3a36847f8009397\', \'order\': 23}, {\'adult\': False, \'gender\': 2, \'id\': 119431, \'known_for_department\': \'Acting\', \'name\': \'Saro Urzì\', \'original_name\': \'Saro Urzì\', \'popularity\': 1.858, \'profile_path\': \'/nPJytCpcNdG5ssPoKeEvxM6xifx.jpg\', \'cast_id\': 48, \'character\': \'Mr. Vitelli\', \'credit_id\': \'52fe422bc3a36847f80093bf\', \'order\': 24}, {\'adult\': False, \'gender\': 1, \'id\': 1769, \'known_for_department\': \'Directing\', \'name\': \'Sofia Coppola\', \'original_name\': \'Sofia Coppola\', \'popularity\': 8.353, \'profile_path\': \'/dzHC2LxmarkBxWLhjp2DRa5oCev.jpg\', \'cast_id\': 43, \'character\': \'Michael Francis Rizzi\', \'credit_id\': \'52fe422bc3a36847f80093ab\', \'order\': 25}, {\'adult\': False, \'gender\': 2, \'id\': 20973, \'known_for_department\': \'Acting\', \'name\': \'Louis Guss\', \'original_name\': \'Louis Guss\', \'popularity\': 3.076, \'profile_path\': \'/hz5Akuh4QcqitlifYwDiZ9ut6Tr.jpg\', \'cast_id\': 44, \'character\': \'Don Zaluchi\', \'credit_id\': \'52fe422bc3a36847f80093af\', \'order\': 26}, {\'adult\': False, \'gender\': 2, \'id\': 3174, \'known_for_department\': \'Acting\', \'name\': \'Richard Bright\', \'original_name\': \'Richard Bright\', \'popularity\': 6.476, \'profile_path\': \'/potMaJ2u5PRjXZb7qF9lSW1ldNZ.jpg\', \'cast_id\': 70, \'character\': \'Neri\', \'credit_id\': \'55be4cdbc3a3683921003065\', \'order\': 27}, {\'adult\': False, \'gender\': 2, \'id\': 82779, \'known_for_department\': \'Acting\', \'name\': \'Vito Scotti\', \'original_name\': \'Vito Scotti\', \'popularity\': 5.8, \'profile_path\': \'/zDGtXkASxpo3DzMNz6OI3NOp9v0.jpg\', \'cast_id\': 71, \'character\': \'Nazorine\', \'credit_id\': \'55be4cff9251413e49004a59\', \'order\': 28}, {\'adult\': False, \'gender\': 1, \'id\': 982089, \'known_for_department\': \'Acting\', \'name\': \'Tere Livrano\', \'original_name\': \'Tere Livrano\', \'popularity\': 2.217, \'profile_path\': \'/eBoC3425jmwRlsT2W8qUDsNwVXB.jpg\', \'cast_id\': 72, \'character\': \'Theresa Hagen\', \'credit_id\': \'55be4d40c3a368392100306d\', \'order\': 29}, {\'adult\': False, \'gender\': 1, \'id\': 160728, \'known_for_department\': \'Acting\', \'name\': \'Julie Gregg\', \'original_name\': \'Julie Gregg\', \'popularity\': 2.669, \'profile_path\': \'/8Kx71BnZNtpzb86jH7fcArWhJBh.jpg\', \'cast_id\': 77, \'character\': "Sandrinella \'Sandra\' Corleone", \'credit_id\': \'55ee4ac0c3a3686f170063c4\', \'order\': 30}, {\'adult\': False, \'gender\': 2, \'id\': 27647, \'known_for_department\': \'Acting\', \'name\': \'Angelo Infanti\', \'original_name\': \'Angelo Infanti\', \'popularity\': 4.573, \'profile_path\': \'/dkRVpiDj9YyiuM15XZKT11zZBIR.jpg\', \'cast_id\': 74, \'character\': \'Fabrizio\', \'credit_id\': \'55be4dffc3a368652600471c\', \'order\': 31}, {\'adult\': False, \'gender\': 2, \'id\': 24604, \'known_for_department\': \'Acting\', \'name\': \'Corrado Gaipa\', \'original_name\': \'Corrado Gaipa\', \'popularity\': 2.558, \'profile_path\': \'/7vR2BOdVw9FwJKjgpcisjKEytnL.jpg\', \'cast_id\': 75, \'character\': \'Don Tommasino\', \'credit_id\': \'55be4e2fc3a3686534005572\', \'order\': 32}, {\'adult\': False, \'gender\': 2, \'id\': 44860, \'known_for_department\': \'Acting\', \'name\': \'Franco Citti\', \'original_name\': \'Franco Citti\', \'popularity\': 2.498, \'profile_path\': \'/mttQPjOHaql4RKsfYriUA7HuROE.jpg\', \'cast_id\': 76, \'character\': \'Calò\', \'credit_id\': \'55be4e5bc3a3683921003083\', \'order\': 33}, {\'adult\': False, \'gender\': 0, \'id\': 138211, \'known_for_department\': \'Acting\', \'name\': \'Gabriele Torrei\', \'original_name\': \'Gabriele Torrei\', \'popularity\': 2.653, \'profile_path\': \'/x3KeYWTWX5SqZ3NuQGiWiadO4DI.jpg\', \'cast_id\': 49, \'character\': \'Enzo the Baker (uncredited)\', \'credit_id\': \'52fe422bc3a36847f80093c3\', \'order\': 34}, {\'adult\': False, \'gender\': 2, \'id\': 55672, \'known_for_department\': \'Acting\', \'name\': \'Tony King\', \'original_name\': \'Tony King\', \'popularity\': 3.56, \'profile_path\': \'/hOVVHEyc6euuuRhCLo6Q5YE4lLz.jpg\', \'cast_id\': 69, \'character\': \'Tony the Stablehand (uncredited)\', \'credit_id\': \'54de315fc3a3685446001351\', \'order\': 35}, {\'adult\': False, \'gender\': 0, \'id\': 178006, \'known_for_department\': \'Acting\', \'name\': \'Max Brandt\', \'original_name\': \'Max Brandt\', \'popularity\': 0.991, \'profile_path\': None, \'cast_id\': 78, \'character\': \'Extra in Furniture-Moving Scene (uncredited)\', \'credit_id\': \'55f1b3c992514167010020a7\', \'order\': 36}, {\'adult\': False, \'gender\': 2, \'id\': 2872, \'known_for_department\': \'Sound\', \'name\': \'Carmine Coppola\', \'original_name\': \'Carmine Coppola\', \'popularity\': 2.829, \'profile_path\': \'/iURpKXIgdtQoVCBQ8GKGvb0Qw5z.jpg\', \'cast_id\': 79, \'character\': \'Piano Player in Montage (uncredited)\', \'credit_id\': \'55f1b3ffc3a368230a00239f\', \'order\': 37}, {\'adult\': False, \'gender\': 2, \'id\': 38803, \'known_for_department\': \'Writing\', \'name\': \'Roman Coppola\', \'original_name\': \'Roman Coppola\', \'popularity\': 4.894, \'profile_path\': \'/rKamKkx78qjZTfvqi2OWCo5p6x5.jpg\', \'cast_id\': 80, \'character\': \'Boy on Street Who Attended Funeral (uncredited)\', \'credit_id\': \'55f1b452c3a36822f5002395\', \'order\': 38}, {\'adult\': False, \'gender\': 0, \'id\': 1209294, \'known_for_department\': \'Acting\', \'name\': \'Don Costello\', \'original_name\': \'Don Costello\', \'popularity\': 1.38, \'profile_path\': None, \'cast_id\': 81, \'character\': \'Don Victor Stracci (uncredited)\', \'credit_id\': \'55f1b4bac3a3682303002284\', \'order\': 39}, {\'adult\': False, \'gender\': 2, \'id\': 1394703, \'known_for_department\': \'Acting\', \'name\': \'Robert Dahdah\', \'original_name\': \'Robert Dahdah\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 82, \'character\': \'Crowd (uncredited)\', \'credit_id\': \'55f1b4de925141670d002392\', \'order\': 40}, {\'adult\': False, \'gender\': 2, \'id\': 2870, \'known_for_department\': \'Production\', \'name\': \'Gray Frederickson\', \'original_name\': \'Gray Frederickson\', \'popularity\': 3.018, \'profile_path\': None, \'cast_id\': 83, \'character\': "Cowboy on the Set at Woltz\'s Studio (uncredited)", \'credit_id\': \'55f1b507925141670d00239a\', \'order\': 41}, {\'adult\': False, \'gender\': 2, \'id\': 160621, \'known_for_department\': \'Acting\', \'name\': \'Ron Gilbert\', \'original_name\': \'Ron Gilbert\', \'popularity\': 0.783, \'profile_path\': \'/qrY6w2k0YpuMB2yTCOv6cxeQtmw.jpg\', \'cast_id\': 84, \'character\': \'Usher in Bridal Party (uncredited)\', \'credit_id\': \'55f1b52f9251416711002211\', \'order\': 42}, {\'adult\': False, \'gender\': 2, \'id\': 1233541, \'known_for_department\': \'Acting\', \'name\': \'Sonny Grosso\', \'original_name\': \'Sonny Grosso\', \'popularity\': 2.238, \'profile_path\': None, \'cast_id\': 87, \'character\': \'Cop Outside Hospital (uncredited)\', \'credit_id\': \'55f1b5bb925141670100210a\', \'order\': 43}, {\'adult\': False, \'gender\': 2, \'id\': 1503036, \'known_for_department\': \'Acting\', \'name\': \'Joe Lo Grippo\', \'original_name\': \'Joe Lo Grippo\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 86, \'character\': "Sonny\'s Bodyguard (uncredited)", \'credit_id\': \'55f1b59dc3a3683bec00231e\', \'order\': 44}, {\'adult\': False, \'gender\': 2, \'id\': 1068099, \'known_for_department\': \'Acting\', \'name\': \'Randy Jurgensen\', \'original_name\': \'Randy Jurgensen\', \'popularity\': 0.786, \'profile_path\': \'/xRoN79wRLndTMCJoaBSsdjQVIzI.jpg\', \'cast_id\': 89, \'character\': "Sonny\'s Killer #1 (uncredited)", \'credit_id\': \'55f1b61ec3a3683bec002335\', \'order\': 45}, {\'adult\': False, \'gender\': 2, \'id\': 61241, \'known_for_department\': \'Acting\', \'name\': \'Tony Lip\', \'original_name\': \'Tony Lip\', \'popularity\': 7.085, \'profile_path\': \'/6xz6XmjgiCCOm067OzWYziD4Mxa.jpg\', \'cast_id\': 90, \'character\': \'Wedding Guest (uncredited)\', \'credit_id\': \'55f1b685c3a36823070023b6\', \'order\': 46}, {\'adult\': False, \'gender\': 2, \'id\': 106187, \'known_for_department\': \'Acting\', \'name\': \'Lou Martini Jr.\', \'original_name\': \'Lou Martini Jr.\', \'popularity\': 1.631, \'profile_path\': \'/85s5KR0BA6dhMJtOrvtKGY8Bz8E.jpg\', \'cast_id\': 91, \'character\': \'Boy at Wedding (uncredited)\', \'credit_id\': \'55f1b6c39251416701002141\', \'order\': 47}, {\'adult\': False, \'gender\': 2, \'id\': 100503, \'known_for_department\': \'Acting\', \'name\': \'Raymond Martino\', \'original_name\': \'Raymond Martino\', \'popularity\': 1.135, \'profile_path\': None, \'cast_id\': 92, \'character\': \'Corleone Family Member (uncredited)\', \'credit_id\': \'55f1b6e59251416711002257\', \'order\': 48}, {\'adult\': False, \'gender\': 2, \'id\': 1503035, \'known_for_department\': \'Acting\', \'name\': \'Joseph Medaglia\', \'original_name\': \'Joseph Medaglia\', \'popularity\': 1.667, \'profile_path\': None, \'cast_id\': 93, \'character\': \'Priest at Baptism (uncredited)\', \'credit_id\': \'55f1b73dc3a3685eb80005f7\', \'order\': 49}, {\'adult\': False, \'gender\': 0, \'id\': 1290895, \'known_for_department\': \'Acting\', \'name\': \'Rick Petrucelli\', \'original_name\': \'Rick Petrucelli\', \'popularity\': 1.597, \'profile_path\': None, \'cast_id\': 94, \'character\': \'Man in Passenger Seat (uncredited)\', \'credit_id\': \'55f1b769925141671400218e\', \'order\': 50}, {\'adult\': False, \'gender\': 0, \'id\': 1237372, \'known_for_department\': \'Acting\', \'name\': \'Sal Richards\', \'original_name\': \'Sal Richards\', \'popularity\': 1.16, \'profile_path\': \'/gZSiZOtBVv1U4hqjlKkPr2p5rCP.jpg\', \'cast_id\': 95, \'character\': \'Drunk (uncredited)\', \'credit_id\': \'55f1b7c29251410d6d000acb\', \'order\': 51}, {\'adult\': False, \'gender\': 2, \'id\': 1213795, \'known_for_department\': \'Acting\', \'name\': \'Tom Rosqui\', \'original_name\': \'Tom Rosqui\', \'popularity\': 3.503, \'profile_path\': None, \'cast_id\': 96, \'character\': \'Rocco Lampone (uncredited)\', \'credit_id\': \'55f1b7e2925141670d00243a\', \'order\': 52}, {\'adult\': False, \'gender\': 2, \'id\': 11480, \'known_for_department\': \'Acting\', \'name\': \'Frank Sivero\', \'original_name\': \'Frank Sivero\', \'popularity\': 4.499, \'profile_path\': \'/eqvhj0iNtcsN6EJhd21Goqi1DSq.jpg\', \'cast_id\': 97, \'character\': \'Street Extra (uncredited)\', \'credit_id\': \'55f1b81092514167140021b1\', \'order\': 53}, {\'adult\': False, \'gender\': 0, \'id\': 1209678, \'known_for_department\': \'Acting\', \'name\': \'Filomena Spagnuolo\', \'original_name\': \'Filomena Spagnuolo\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 98, \'character\': \'Extra in Wedding Scene (uncredited)\', \'credit_id\': \'55f1b83592514167140021c1\', \'order\': 54}, {\'adult\': False, \'gender\': 2, \'id\': 78336, \'known_for_department\': \'Directing\', \'name\': \'Nick Vallelonga\', \'original_name\': \'Nick Vallelonga\', \'popularity\': 8.561, \'profile_path\': \'/h0GwAHN1J5lDysqgWxMIg66LNBW.jpg\', \'cast_id\': 100, \'character\': \'Wedding Party Guest (uncredited)\', \'credit_id\': \'55f1b89b9251410d6d000af0\', \'order\': 55}, {\'adult\': False, \'gender\': 2, \'id\': 16525, \'known_for_department\': \'Acting\', \'name\': \'Joe Spinell\', \'original_name\': \'Joe Spinell\', \'popularity\': 4.913, \'profile_path\': \'/rdDEi8SJSx9OwVJQaHNa3VfZBRM.jpg\', \'cast_id\': 99, \'character\': "William \'Willie\' Cicci (uncredited)", \'credit_id\': \'55f1b85d925141670500228d\', \'order\': 56}, {\'adult\': False, \'gender\': 2, \'id\': 1234848, \'known_for_department\': \'Acting\', \'name\': \'Conrad Yama\', \'original_name\': \'Conrad Yama\', \'popularity\': 1.287, \'profile_path\': None, \'cast_id\': 101, \'character\

## handling cast
_top 3_

In [14]:
def convert_cast_to_list(obj):
    cnt=0
    li = []
    for i in ast.literal_eval(obj):
        if cnt!=3:
            li.append(i['name'])
            cnt+=1
        else:
            return li
    return li

In [15]:
movies['cast'] = movies['cast'].apply(convert_cast_to_list)
movies['cast']

C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\17228603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(convert_cast_to_list)

0                  [Marlon Brando, Al Pacino, James Caan]
1               [Tim Robbins, Morgan Freeman, Bob Gunton]
2                [Al Pacino, Robert Duvall, Diane Keaton]
3                    [Shah Rukh Khan, Kajol, Amrish Puri]
4              [Liam Neeson, Ben Kingsley, Ralph Fiennes]
                              ...
9637            [Billy Crystal, Daniel Stern, Jon Lovitz]
9638    [Bruce Willis, Claire Forlani, Mark-Paul Gosse...
9639          [Ashley Grace, Denis O'Hare, James Buckley]
9640    [Jodelle Ferland, Christian Martyn, Ellie Harvie]
9641      [Sylvester Stallone, Burt Reynolds, Kip Pardue]
Name: cast, Length: 9642, dtype: object

In [16]:
movies['crew'][0]

"[{'adult': False, 'gender': 2, 'id': 154, 'known_for_department': 'Editing', 'name': 'Walter Murch', 'original_name': 'Walter Murch', 'popularity': 3.167, 'profile_path': '/kQh7U7kRLF9NKEMpxiGjZEIu0o3.jpg', 'credit_id': '62bd43fb63d9370092ba09da', 'department': 'Crew', 'job': 'Post Production Consulting'}, {'adult': False, 'gender': 2, 'id': 1776, 'known_for_department': 'Directing', 'name': 'Francis Ford Coppola', 'original_name': 'Francis Ford Coppola', 'popularity': 8.922, 'profile_path': '/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg', 'credit_id': '52fe422bc3a36847f80093db', 'department': 'Writing', 'job': 'Screenplay'}, {'adult': False, 'gender': 2, 'id': 1776, 'known_for_department': 'Directing', 'name': 'Francis Ford Coppola', 'original_name': 'Francis Ford Coppola', 'popularity': 8.922, 'profile_path': '/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg', 'credit_id': '5e92505cccb15f00136de455', 'department': 'Directing', 'job': 'Director'}, {'adult': False, 'gender': 2, 'id': 1776, 'known_for_department': 'Directing', 'name': 'Francis Ford Coppola', 'original_name': 'Francis Ford Coppola', 'popularity': 8.922, 'profile_path': '/mGKkVp3l9cipPt10AqoQnwaPrfI.jpg', 'credit_id': '5f9c86e3bc8abc003b2fe6b7', 'department': 'Crew', 'job': 'Thanks'}, {'adult': False, 'gender': 2, 'id': 2870, 'known_for_department': 'Production', 'name': 'Gray Frederickson', 'original_name': 'Gray Frederickson', 'popularity': 2.905, 'profile_path': None, 'credit_id': '53884fe1c3a3681ad7004590', 'department': 'Production', 'job': 'Associate Producer'}, {'adult': False, 'gender': 2, 'id': 2871, 'known_for_department': 'Production', 'name': 'Fred Roos', 'original_name': 'Fred Roos', 'popularity': 3.678, 'profile_path': '/qfXLY5E589l0TQnoayWmUrBDsgo.jpg', 'credit_id': '53885041c3a3681ad700459b', 'department': 'Production', 'job': 'Casting'}, {'adult': False, 'gender': 2, 'id': 2872, 'known_for_department': 'Sound', 'name': 'Carmine Coppola', 'original_name': 'Carmine Coppola', 'popularity': 3.961, 'profile_path': '/iURpKXIgdtQoVCBQ8GKGvb0Qw5z.jpg', 'credit_id': '62bd43877304b52384a221cb', 'department': 'Crew', 'job': 'Additional Music'}, {'adult': False, 'gender': 2, 'id': 2875, 'known_for_department': 'Art', 'name': 'Dean Tavoularis', 'original_name': 'Dean Tavoularis', 'popularity': 5.116, 'profile_path': '/hrRBaXUn2k29qd1MvAxuag5L32c.jpg', 'credit_id': '53884b4e0e0a261441005deb', 'department': 'Art', 'job': 'Production Design'}, {'adult': False, 'gender': 2, 'id': 457, 'known_for_department': 'Production', 'name': 'Albert S. Ruddy', 'original_name': 'Albert S. Ruddy', 'popularity': 8.811, 'profile_path': None, 'credit_id': '52fe422bc3a36847f80093cf', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 2, 'id': 949, 'known_for_department': 'Production', 'name': 'Louis DiGiaimo', 'original_name': 'Louis DiGiaimo', 'popularity': 0.6, 'profile_path': None, 'credit_id': '53885009c3a3682f780004c6', 'department': 'Production', 'job': 'Casting'}, {'adult': False, 'gender': 2, 'id': 1044, 'known_for_department': 'Camera', 'name': 'Michael Chapman', 'original_name': 'Michael Chapman', 'popularity': 1.238, 'profile_path': '/vFFWHlwwIgWoi2NPoVq3uzikCnM.jpg', 'credit_id': '62bd4492097c490051497166', 'department': 'Camera', 'job': 'Camera Operator'}, {'adult': False, 'gender': 2, 'id': 3083, 'known_for_department': 'Writing', 'name': 'Mario Puzo', 'original_name': 'Mario Puzo', 'popularity': 5.142, 'profile_path': '/lEsT1uCZAZg1nYDQe3Fsj9CalzT.jpg', 'credit_id': '52fe422bc3a36847f80093d5', 'department': 'Writing', 'job': 'Screenplay'}, {'adult': False, 'gender': 2, 'id': 3083, 'known_for_department': 'Writing', 'name': 'Mario Puzo', 'original_name': 'Mario Puzo', 'popularity': 5.142, 'profile_path': '/lEsT1uCZAZg1nYDQe3Fsj9CalzT.jpg', 'credit_id': '538848cec3a3681aea00405a', 'department': 'Writing', 'job': 'Novel'}, {'adult': False, 'gender': 2, 'id': 3097, 'known_for_department': 'Camera', 'name': 'Gordon Willis', 'original_name': 'Gordon Willis', 'popularity': 2.194, 'profile_path': '/6gOmfatlF7UdhaHi2tPsZMb5vmz.jpg', 'credit_id': '538848a0c3a3681ae3004283', 'department': 'Camera', 'job': 'Director of Photography'}, {'adult': False, 'gender': 2, 'id': 3098, 'known_for_department': 'Sound', 'name': 'Nino Rota', 'original_name': 'Nino Rota', 'popularity': 6.266, 'profile_path': '/v42v3uM7jqwoZxDJ8MlEtT6Ol7a.jpg', 'credit_id': '538848b1c3a3681aea004056', 'department': 'Sound', 'job': 'Original Music Composer'}, {'adult': False, 'gender': 2, 'id': 3099, 'known_for_department': 'Editing', 'name': 'William Reynolds', 'original_name': 'William Reynolds', 'popularity': 4.655, 'profile_path': None, 'credit_id': '52fe422bc3a36847f80093ed', 'department': 'Editing', 'job': 'Editor'}, {'adult': False, 'gender': 2, 'id': 3100, 'known_for_department': 'Editing', 'name': 'Peter Zinner', 'original_name': 'Peter Zinner', 'popularity': 2.321, 'profile_path': None, 'credit_id': '52fe422bc3a36847f80093f3', 'department': 'Editing', 'job': 'Editor'}, {'adult': False, 'gender': 0, 'id': 3101, 'known_for_department': 'Production', 'name': 'Andrea Eastman', 'original_name': 'Andrea Eastman', 'popularity': 1.4, 'profile_path': None, 'credit_id': '53885029c3a3681ad7004596', 'department': 'Production', 'job': 'Casting'}, {'adult': False, 'gender': 2, 'id': 3103, 'known_for_department': 'Sound', 'name': 'Charles Grenzbach', 'original_name': 'Charles Grenzbach', 'popularity': 1.4, 'profile_path': None, 'credit_id': '570006ec9251417647000790', 'department': 'Sound', 'job': 'Sound Re-Recording Mixer'}, {'adult': False, 'gender': 2, 'id': 3104, 'known_for_department': 'Sound', 'name': 'Chris Newman', 'original_name': 'Chris Newman', 'popularity': 1.4, 'profile_path': None, 'credit_id': '569d53449251415e67004177', 'department': 'Sound', 'job': 'Sound'}, {'adult': False, 'gender': 2, 'id': 3105, 'known_for_department': 'Sound', 'name': 'Richard Portman', 'original_name': 'Richard Portman', 'popularity': 2.02, 'profile_path': None, 'credit_id': '568c060ac3a3685f89018710', 'department': 'Sound', 'job': 'Sound Re-Recording Mixer'}, {'adult': False, 'gender': 0, 'id': 3106, 'known_for_department': 'Sound', 'name': 'John C. Hammell', 'original_name': 'John C. Hammell', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56cb4864c3a3684e2500045e', 'department': 'Sound', 'job': 'Music Editor'}, {'adult': False, 'gender': 2, 'id': 6099, 'known_for_department': 'Production', 'name': 'Valerio De Paolis', 'original_name': 'Valerio De Paolis', 'popularity': 0.614, 'profile_path': '/rbsYkbJPgQAMuFY71RYrYatdXWT.jpg', 'credit_id': '563e3d18c3a3681b5402d6d3', 'department': 'Production', 'job': 'Production Manager'}, {'adult': False, 'gender': 1, 'id': 6851, 'known_for_department': 'Costume & Make-Up', 'name': 'Anna Hill Johnstone', 'original_name': 'Anna Hill Johnstone', 'popularity': 0.98, 'profile_path': None, 'credit_id': '53884fc3c3a3681add0044ad', 'department': 'Costume & Make-Up', 'job': 'Costume Design'}, {'adult': False, 'gender': 0, 'id': 16194, 'known_for_department': 'Costume & Make-Up', 'name': 'Philip Leto', 'original_name': 'Philip Leto', 'popularity': 1.04, 'profile_path': None, 'credit_id': '56a76fd49251412a04002fa6', 'department': 'Costume & Make-Up', 'job': 'Hairstylist'}, {'adult': False, 'gender': 2, 'id': 10546, 'known_for_department': 'Production', 'name': 'Fred T. Gallo', 'original_name': 'Fred T. Gallo', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5e9250a3875d1a001442c342', 'department': 'Directing', 'job': 'Assistant Director'}, {'adult': False, 'gender': 0, 'id': 11789, 'known_for_department': 'Production', 'name': 'Fred C. Caruso', 'original_name': 'Fred C. Caruso', 'popularity': 2.234, 'profile_path': None, 'credit_id': '57447bba925141110900063d', 'department': 'Production', 'job': 'Unit Production Manager'}, {'adult': False, 'gender': 2, 'id': 12288, 'known_for_department': 'Production', 'name': 'Robert Evans', 'original_name': 'Robert Evans', 'popularity': 1.234, 'profile_path': '/rCiTT2VrBKeHWdnHAyfGtMXs9go.jpg', 'credit_id': '57447b41c3a36807770006ab', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 0, 'id': 14059, 'known_for_department': 'Crew', 'name': 'Sass Bedig', 'original_name': 'Sass Bedig', 'popularity': 0.674, 'profile_path': None, 'credit_id': '57448523925141218f000400', 'department': 'Crew', 'job': 'Special Effects'}, {'adult': False, 'gender': 2, 'id': 29389, 'known_for_department': 'Sound', 'name': 'Carlo Savina', 'original_name': 'Carlo Savina', 'popularity': 0.702, 'profile_path': None, 'credit_id': '62bd436412aabc151f2dbaef', 'department': 'Sound', 'job': 'Conductor'}, {'adult': False, 'gender': 2, 'id': 29654, 'known_for_department': 'Costume & Make-Up', 'name': 'Dick Smith', 'original_name': 'Dick Smith', 'popularity': 1.4, 'profile_path': '/kKCenlQ8iQCTLGfX8ZPpJFpxvwS.jpg', 'credit_id': '56a76ff8c3a36819c9002fcb', 'department': 'Costume & Make-Up', 'job': 'Makeup Artist'}, {'adult': False, 'gender': 2, 'id': 30580, 'known_for_department': 'Art', 'name': 'Philip Smith', 'original_name': 'Philip Smith', 'popularity': 0.6, 'profile_path': None, 'credit_id': '53884fb2c3a3681ad700458c', 'department': 'Art', 'job': 'Set Decoration'}, {'adult': False, 'gender': 0, 'id': 81519, 'known_for_department': 'Art', 'name': 'Warren Clymer', 'original_name': 'Warren Clymer', 'popularity': 1.38, 'profile_path': None, 'credit_id': '53884f8dc3a3681add0044a6', 'department': 'Art', 'job': 'Art Direction'}, {'adult': False, 'gender': 0, 'id': 81532, 'known_for_department': 'Costume & Make-Up', 'name': 'George Newman', 'original_name': 'George Newman', 'popularity': 0.6, 'profile_path': None, 'credit_id': '62bd446a7304b523856c2c25', 'department': 'Costume & Make-Up', 'job': 'Wardrobe Supervisor'}, {'adult': False, 'gender': 2, 'id': 51302, 'known_for_department': 'Crew', 'name': 'Joe Bucaro III', 'original_name': 'Joe Bucaro III', 'popularity': 7.525, 'profile_path': '/gvJs1YQZRrSbkiSGAiCAugaXyzl.jpg', 'credit_id': '574486e0c3a368076b000ac6', 'department': 'Crew', 'job': 'Stunts'}, {'adult': False, 'gender': 2, 'id': 96912, 'known_for_department': 'Crew', 'name': 'Joe Lombardi', 'original_name': 'Joe Lombardi', 'popularity': 1.358, 'profile_path': None, 'credit_id': '574485a9925141218f000420', 'department': 'Crew', 'job': 'Special Effects'}, {'adult': False, 'gender': 2, 'id': 718968, 'known_for_department': 'Production', 'name': 'Stephen F. Kesten', 'original_name': 'Stephen F. Kesten', 'popularity': 1.4, 'profile_path': None, 'credit_id': '5e9250b284448e00148f0783', 'department': 'Directing', 'job': 'Assistant Director'}, {'adult': False, 'gender': 2, 'id': 1318092, 'known_for_department': 'Crew', 'name': 'Paul J. Lombardi', 'original_name': 'Paul J. Lombardi', 'popularity': 1.121, 'profile_path': None, 'credit_id': '5744865f92514120a70004b3', 'department': 'Visual Effects', 'job': 'Special Effects Supervisor'}, {'adult': False, 'gender': 2, 'id': 1433439, 'known_for_department': 'Crew', 'name': 'Paul Baxley', 'original_name': 'Paul Baxley', 'popularity': 4.86, 'profile_path': None, 'credit_id': '574486b4c3a3681c760004a9', 'department': 'Crew', 'job': 'Stunt Coordinator'}, {'adult': False, 'gender': 1, 'id': 1511672, 'known_for_department': 'Directing', 'name': 'Nancy Hopton', 'original_name': 'Nancy Hopton', 'popularity': 0.63, 'profile_path': None, 'credit_id': '62bd44c217b5ef04e6b3fc04', 'department': 'Directing', 'job': 'Script Supervisor'}, {'adult': False, 'gender': 0, 'id': 1518601, 'known_for_department': 'Costume & Make-Up', 'name': 'Phil Rhodes', 'original_name': 'Phil Rhodes', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56a76fc79251412a04002fa3', 'department': 'Costume & Make-Up', 'job': 'Makeup Artist'}, {'adult': False, 'gender': 2, 'id': 1546904, 'known_for_department': 'Camera', 'name': 'Robert Ward', 'original_name': 'Robert Ward', 'popularity': 0.6, 'profile_path': None, 'credit_id': '566871e5c3a36836ac0038f7', 'department': 'Camera', 'job': 'Grip'}, {'adult': False, 'gender': 0, 'id': 1614958, 'known_for_department': 'Crew', 'name': 'Steven Burnett', 'original_name': 'Steven Burnett', 'popularity': 1.065, 'profile_path': None, 'credit_id': '5744870d92514133d400001b', 'department': 'Crew', 'job': 'Stunts'}, {'adult': False, 'gender': 0, 'id': 1625346, 'known_for_department': 'Production', 'name': 'Ned Kopp', 'original_name': 'Ned Kopp', 'popularity': 0.6, 'profile_path': None, 'credit_id': '57447c09925141110f000695', 'department': 'Production', 'job': 'Production Manager'}, {'adult': False, 'gender': 2, 'id': 1625347, 'known_for_department': 'Directing', 'name': 'Tony Brandt', 'original_name': 'Tony Brandt', 'popularity': 0.6, 'profile_path': None, 'credit_id': '5e92510accb15f00156de8d4', 'department': 'Directing', 'job': 'Assistant Director'}, {'adult': False, 'gender': 0, 'id': 1789636, 'known_for_department': 'Sound', 'name': 'Carl Fortina', 'original_name': 'Carl Fortina', 'popularity': 0.98, 'profile_path': None, 'credit_id': '58e3cf17c3a3684aa40124b5', 'department': 'Sound', 'job': 'Musician'}, {'adult': False, 'gender': 0, 'id': 3357584, 'known_for_department': 'Production', 'name': 'Michael Briggs', 'original_name': 'Michael Briggs', 'popularity': 0.6, 'profile_path': None, 'credit_id': '62bd45a47ef3812768ed8113', 'department': 'Production', 'job': 'Location Coordinator'}, {'adult': False, 'gender': 0, 'id': 3606474, 'known_for_department': 'Production', 'name': 'Tony Bowers', 'original_name': 'Tony Bowers', 'popularity': 0.6, 'profile_path': None, 'credit_id': '62bd45e59a9f9a008bf772b9', 'department': 'Production', 'job': 'Location Coordinator'}]"

## handling crew as diractor

In [17]:
def convert_crew_to_diractor(obj):
    li = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            li.append(i['name'])
            return li

In [18]:
movies['crew'] = movies['crew'].apply(convert_crew_to_diractor)

C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\428113810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(convert_crew_to_diractor)

In [19]:
movies

,id,title,keywords,genres,cast,overview,crew
0,238,The Godfather,"[italy, loss of loved one, love at first sight...","[Drama, Crime]","[Marlon Brando, Al Pacino, James Caan]","Spanning the years 1945 to 1955, a chronicle o...",[Francis Ford Coppola]
1,278,The Shawshank Redemption,"[prison, corruption, police brutality, based o...","[Drama, Crime]","[Tim Robbins, Morgan Freeman, Bob Gunton]",Framed in the 1940s for the double murder of h...,[Frank Darabont]
2,240,The Godfather Part II,"[italy, italian american, cuba, symbolism, gan...","[Drama, Crime]","[Al Pacino, Robert Duvall, Diane Keaton]",In the continuing saga of the Corleone crime f...,[Francis Ford Coppola]
3,19404,Dilwale Dulhania Le Jayenge,[],"[Comedy, Drama, Romance]","[Shah Rukh Khan, Kajol, Amrish Puri]","Raj is a rich, carefree, happy-go-lucky second...",[Aditya Chopra]
4,424,Schindler's List,"[based on novel or book, factory, concentratio...","[Drama, History, War]","[Liam Neeson, Ben Kingsley, Ralph Fiennes]",The true story of how businessman Oskar Schind...,[Steven Spielberg]
...,...,...,...,...,...,...,...
9637,11310,City Slickers II: The Legend of Curly's Gold,"[nevada, gold, birthday, treasure hunt, friend...","[Action, Comedy, Drama, Western]","[Billy Crystal, Daniel Stern, Jon Lovitz]",Mitch Robbins 40th birthday begins quite well ...,[Paul Weiland]
9638,384737,Precious Cargo,"[crime boss, heist]","[Action, Crime, Thriller]","[Bruce Willis, Claire Forlani, Mark-Paul Gosse...","After a botched heist, Eddie a murderous crim...",[Max Adams]
9639,282813,The Pyramid,"[monster, darkness, desert, archaeologist, fou...",[Horror],"[Ashley Grace, Denis O'Hare, James Buckley]",An archaeological team attempt to unlock the s...,[Grégory Levasseur]
9640,134375,Home Alone: The Holiday Heist,[christmas],"[Comedy, Family, TV Movie]","[Jodelle Ferland, Christian Martyn, Ellie Harvie]",8-year-old Finn is terrified to learn his fami...,[Peter Hewitt]
9641,10477,Driven,"[competition, career, sports, automobile]",[Action],"[Sylvester Stallone, Burt Reynolds, Kip Pardue]",Talented rookie race-car driver Jimmy Bly has ...,[Renny Harlin]

In [20]:
movies.fillna("",inplace=True)
movies['overview'] = movies['overview'].apply(lambda x:x.split())

C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\3160119702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.fillna("",inplace=True)
C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\3160119702.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [21]:
movies

,id,title,keywords,genres,cast,overview,crew
0,238,The Godfather,"[italy, loss of loved one, love at first sight...","[Drama, Crime]","[Marlon Brando, Al Pacino, James Caan]","[Spanning, the, years, 1945, to, 1955,, a, chr...",[Francis Ford Coppola]
1,278,The Shawshank Redemption,"[prison, corruption, police brutality, based o...","[Drama, Crime]","[Tim Robbins, Morgan Freeman, Bob Gunton]","[Framed, in, the, 1940s, for, the, double, mur...",[Frank Darabont]
2,240,The Godfather Part II,"[italy, italian american, cuba, symbolism, gan...","[Drama, Crime]","[Al Pacino, Robert Duvall, Diane Keaton]","[In, the, continuing, saga, of, the, Corleone,...",[Francis Ford Coppola]
3,19404,Dilwale Dulhania Le Jayenge,[],"[Comedy, Drama, Romance]","[Shah Rukh Khan, Kajol, Amrish Puri]","[Raj, is, a, rich,, carefree,, happy-go-lucky,...",[Aditya Chopra]
4,424,Schindler's List,"[based on novel or book, factory, concentratio...","[Drama, History, War]","[Liam Neeson, Ben Kingsley, Ralph Fiennes]","[The, true, story, of, how, businessman, Oskar...",[Steven Spielberg]
...,...,...,...,...,...,...,...
9637,11310,City Slickers II: The Legend of Curly's Gold,"[nevada, gold, birthday, treasure hunt, friend...","[Action, Comedy, Drama, Western]","[Billy Crystal, Daniel Stern, Jon Lovitz]","[Mitch, Robbins, 40th, birthday, begins, quite...",[Paul Weiland]
9638,384737,Precious Cargo,"[crime boss, heist]","[Action, Crime, Thriller]","[Bruce Willis, Claire Forlani, Mark-Paul Gosse...","[After, a, botched, heist,, Eddie, a, murderou...",[Max Adams]
9639,282813,The Pyramid,"[monster, darkness, desert, archaeologist, fou...",[Horror],"[Ashley Grace, Denis O'Hare, James Buckley]","[An, archaeological, team, attempt, to, unlock...",[Grégory Levasseur]
9640,134375,Home Alone: The Holiday Heist,[christmas],"[Comedy, Family, TV Movie]","[Jodelle Ferland, Christian Martyn, Ellie Harvie]","[8-year-old, Finn, is, terrified, to, learn, h...",[Peter Hewitt]
9641,10477,Driven,"[competition, career, sports, automobile]",[Action],"[Sylvester Stallone, Burt Reynolds, Kip Pardue]","[Talented, rookie, race-car, driver, Jimmy, Bl...",[Renny Harlin]

### replacing the space with _

In [22]:
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","_") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","_") for i in x])
# movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","_") for i in x])
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","_") for i in x])
movies.head()

C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\1393381088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","_") for i in x])
C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\1393381088.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","_") for i in x])
C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\1393381088.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","_") for i in x])

,id,title,keywords,genres,cast,overview,crew
0,238,The Godfather,"[italy, loss of loved one, love at first sight...","[Drama, Crime]","[Marlon_Brando, Al_Pacino, James_Caan]","[Spanning, the, years, 1945, to, 1955,, a, chr...",[Francis_Ford_Coppola]
1,278,The Shawshank Redemption,"[prison, corruption, police brutality, based o...","[Drama, Crime]","[Tim_Robbins, Morgan_Freeman, Bob_Gunton]","[Framed, in, the, 1940s, for, the, double, mur...",[Frank_Darabont]
2,240,The Godfather Part II,"[italy, italian american, cuba, symbolism, gan...","[Drama, Crime]","[Al_Pacino, Robert_Duvall, Diane_Keaton]","[In, the, continuing, saga, of, the, Corleone,...",[Francis_Ford_Coppola]
3,19404,Dilwale Dulhania Le Jayenge,[],"[Comedy, Drama, Romance]","[Shah_Rukh_Khan, Kajol, Amrish_Puri]","[Raj, is, a, rich,, carefree,, happy-go-lucky,...",[Aditya_Chopra]
4,424,Schindler's List,"[based on novel or book, factory, concentratio...","[Drama, History, War]","[Liam_Neeson, Ben_Kingsley, Ralph_Fiennes]","[The, true, story, of, how, businessman, Oskar...",[Steven_Spielberg]

## merging all in single dataset as tags

In [23]:
tags = movies['keywords'] + movies['genres'] + movies['overview'] + movies['crew'] + movies['cast']
tags

0       [italy, loss of loved one, love at first sight...
1       [prison, corruption, police brutality, based o...
2       [italy, italian american, cuba, symbolism, gan...
3       [Comedy, Drama, Romance, Raj, is, a, rich,, ca...
4       [based on novel or book, factory, concentratio...
                              ...
9637    [nevada, gold, birthday, treasure hunt, friend...
9638    [crime boss, heist, Action, Crime, Thriller, A...
9639    [monster, darkness, desert, archaeologist, fou...
9640    [christmas, Comedy, Family, TV_Movie, 8-year-o...
9641    [competition, career, sports, automobile, Acti...
Length: 9642, dtype: object

In [24]:
data = movies[['id','title']]
data['tags'] = tags
data.sample(n=5,random_state=200)

C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\585248357.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags'] = tags

,id,title,tags
616,614934,Elvis,"[rock 'n' roll, biography, based on true story..."
4314,10156,History of the World: Part I,"[inquisition, moses, roman empire, french revo..."
1420,9028,The Great Silence,"[gunslinger, sadistic, sheriff, bounty hunter,..."
7413,10641,Autumn in New York,"[new love, love of one's life, unexpected happ..."
5785,9350,Cliffhanger,"[mountain, rocky mountains, airplane, hijackin..."

In [25]:
data['tags'] = data['tags'].apply(lambda x:" ".join(x))
data

C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\291630874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags'] = data['tags'].apply(lambda x:" ".join(x))

,id,title,tags
0,238,The Godfather,italy loss of loved one love at first sight ba...
1,278,The Shawshank Redemption,prison corruption police brutality based on no...
2,240,The Godfather Part II,italy italian american cuba symbolism gangster...
3,19404,Dilwale Dulhania Le Jayenge,"Comedy Drama Romance Raj is a rich, carefree, ..."
4,424,Schindler's List,based on novel or book factory concentration c...
...,...,...,...
9637,11310,City Slickers II: The Legend of Curly's Gold,nevada gold birthday treasure hunt friendship ...
9638,384737,Precious Cargo,crime boss heist Action Crime Thriller After a...
9639,282813,The Pyramid,monster darkness desert archaeologist found fo...
9640,134375,Home Alone: The Holiday Heist,christmas Comedy Family TV_Movie 8-year-old Fi...
9641,10477,Driven,competition career sports automobile Action Ta...

In [26]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [27]:
def get_stem(text):
    li = []
    for i in text.split():
        li.append(ps.stem(i))
    return " ".join(li)

In [28]:
data['tags']= data['tags'].apply(get_stem)

C:\Users\DEV\AppData\Local\Temp\ipykernel_5912\3445805597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags']= data['tags'].apply(get_stem)

## build vector

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vectors = cv.fit_transform(data['tags']).toarray()

## get cosine similarity distances

In [30]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)
similarity.shape

(9642, 9642)

In [31]:
sorted(enumerate(similarity[0]),reverse=True,key=lambda x: x[1])[:6]

[(0, 1.0000000000000002),
 (2, 0.47721942193769407),
 (1626, 0.4259327492016031),
 (6440, 0.4124789556921528),
 (9460, 0.40618119722996165),
 (5537, 0.3728997624083888)]

## recommand function

In [32]:
def recommend(movie):
    movie_index = data[data['title']==movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(enumerate(distances),reverse=True,key=lambda x: x[1])[1:20]

    for i in movie_list:
        print(data.iloc[i[0]].title)

In [33]:
recommend('Spectre')

Dr. No
On Her Majesty's Secret Service
Thunderball
Quantum of Solace
Never Say Never Again
From Russia with Love
Goldfinger
You Only Live Twice
Die Another Day
Octopussy
The Spy Who Loved Me
Skyfall
Live and Let Die
No Time to Die
For Your Eyes Only
Angel Has Fallen
In the Line of Fire
GoldenEye
Kingsman: The Secret Service

In [34]:
movies[movies['title']=='Spectre']

,id,title,keywords,genres,cast,overview,crew
5520,206647,Spectre,"[spy, based on novel or book, secret agent, se...","[Action, Adventure, Thriller]","[Daniel_Craig, Christoph_Waltz, Léa_Seydoux]","[A, cryptic, message, from, Bond’s, past, send...",[Sam_Mendes]

In [35]:
movies[movies['title']=='Casino Royale']

,id,title,keywords,genres,cast,overview,crew
1281,36557,Casino Royale,"[italy, poker, casino, based on novel or book,...","[Adventure, Action, Thriller]","[Daniel_Craig, Eva_Green, Mads_Mikkelsen]","[Le, Chiffre,, a, banker, to, the, world's, te...",[Martin_Campbell]

## merge data with movies

In [36]:
data = data.merge(movies_data,left_on='id',right_on='id', suffixes=('x',''))
data.drop('titlex',axis=1,inplace=True)
data

,id,tags,genres,release_date,keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count,movie_id,title,cast,crew
0,238,itali loss of love one love at first sight bas...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814,238,The Godfather,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,prison corrupt polic brutal base on novel or b...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542,278,The Shawshank Redemption,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,itali italian american cuba symbol gangster me...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187,240,The Godfather Part II,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,"comedi drama romanc raj is a rich, carefree, h...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-10-19,[],"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,100000000,22.150,8.6,3927,19404,Dilwale Dulhania Le Jayenge,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,base on novel or book factori concentr camp he...,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",1993-12-15,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,321365567,53.542,8.6,13382,424,Schindler's List,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9637,11310,nevada gold birthday treasur hunt friendship b...,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",1994-06-10,"[{'id': 1197, 'name': 'nevada'}, {'id': 1321, ...",Mitch Robbins 40th birthday begins quite well ...,/i3LxcETnjTDDP3z7I85BLN8YGbF.jpg,43,43,9.372,5.2,255,11310,City Slickers II: The Legend of Curly's Gold,"[{'adult': False, 'gender': 2, 'id': 7904, 'kn...","[{'adult': False, 'gender': 2, 'id': 7783, 'kn..."
9638,384737,crime boss heist action crime thriller after a...,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2016-07-15,"[{'id': 9730, 'name': 'crime boss'}, {'id': 10...","After a botched heist, Eddie a murderous crim...",/dOQv2PDBu9bBCZRLeRp6QQYJDr3.jpg,100659,100659,14.663,5.2,243,384737,Precious Cargo,"[{'adult': False, 'gender': 2, 'id': 62, 'know...","[{'adult': False, 'gender': 2, 'id': 4951, 'kn..."
9639,282813,monster dark desert archaeologist found footag...,"[{'id': 27, 'name': 'Horror'}]",2014-12-04,"[{'id': 1299, 'name': 'monster'}, {'id': 3762,...",An archaeological team attempt to unlock the s...,/joPb4PUPP7xClD6XPiQ7laBEtZf.jpg,16861137,16861137,17.892,5.2,861,282813,The Pyramid,"[{'adult': False, 'gender': 1, 'id': 589098, '...","[{'adult': False, 'gender': 2, 'id': 5673, 'kn..."
9640,134375,christma comedi famili tv_movi 8-year-old finn...,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",2012-11-25,"[{'id': 207317, 'name': 'christmas'}]",8-year-old Finn is terrified to learn his fami...,/6JPrRC0JPM06y17pUXD6w1xMvKi.jpg,0,0,23.978,5.2,335,134375,Home Alone: The Holiday Heist,"[{'adult': False, 'gender': 1, 'id': 8338, 'kn...","[{'adult': False, 'gender': 2, 'id': 11505, 'k..."
9641,10477,competit career sport automobil action talent ...,"[{'id': 28, 'name': 'Action'}]",2001-04-27,"[{'id': 271, 'name': 'competition'}, {'id': 36...",Talented rookie race-car driver Jimmy Bly has ...,/2aN2BBAbRyfEpfxZAQY82T8zWRq.jpg,54744738,54744738,13.200,5.2,594,10477,Driven,"[{'adult': False, 'gender': 2, 'id': 16483, 'k...","[{'adult': False, 'gender': 1, 'id': 2324, 'kn..."

## save data in binary file pkl

In [37]:
import pickle as pkl
pkl.dump(data,open('movies.pkl','wb'))
pkl.dump(similarity,open('similarities.pkl','wb'))

## search feature

In [38]:
data[data['title'].str.contains("Avengers",case=False,regex=False)]['title']

90                             Avengers: Endgame
102                       Avengers: Infinity War
813                                 The Avengers
2150                     Avengers: Age of Ultron
3789           Next Avengers: Heroes of Tomorrow
4288                Ultimate Avengers: The Movie
4614    Ultimate Avengers 2: Rise of the Panther
Name: title, dtype: object

In [46]:
data

,id,tags,genres,release_date,keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count,movie_id,title,cast,crew
0,238,itali loss of love one love at first sight bas...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814,238,The Godfather,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,prison corrupt polic brutal base on novel or b...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542,278,The Shawshank Redemption,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,itali italian american cuba symbol gangster me...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187,240,The Godfather Part II,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,"comedi drama romanc raj is a rich, carefree, h...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-10-19,[],"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,100000000,22.150,8.6,3927,19404,Dilwale Dulhania Le Jayenge,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,base on novel or book factori concentr camp he...,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",1993-12-15,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,321365567,53.542,8.6,13382,424,Schindler's List,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9637,11310,nevada gold birthday treasur hunt friendship b...,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",1994-06-10,"[{'id': 1197, 'name': 'nevada'}, {'id': 1321, ...",Mitch Robbins 40th birthday begins quite well ...,/i3LxcETnjTDDP3z7I85BLN8YGbF.jpg,43,43,9.372,5.2,255,11310,City Slickers II: The Legend of Curly's Gold,"[{'adult': False, 'gender': 2, 'id': 7904, 'kn...","[{'adult': False, 'gender': 2, 'id': 7783, 'kn..."
9638,384737,crime boss heist action crime thriller after a...,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2016-07-15,"[{'id': 9730, 'name': 'crime boss'}, {'id': 10...","After a botched heist, Eddie a murderous crim...",/dOQv2PDBu9bBCZRLeRp6QQYJDr3.jpg,100659,100659,14.663,5.2,243,384737,Precious Cargo,"[{'adult': False, 'gender': 2, 'id': 62, 'know...","[{'adult': False, 'gender': 2, 'id': 4951, 'kn..."
9639,282813,monster dark desert archaeologist found footag...,"[{'id': 27, 'name': 'Horror'}]",2014-12-04,"[{'id': 1299, 'name': 'monster'}, {'id': 3762,...",An archaeological team attempt to unlock the s...,/joPb4PUPP7xClD6XPiQ7laBEtZf.jpg,16861137,16861137,17.892,5.2,861,282813,The Pyramid,"[{'adult': False, 'gender': 1, 'id': 589098, '...","[{'adult': False, 'gender': 2, 'id': 5673, 'kn..."
9640,134375,christma comedi famili tv_movi 8-year-old finn...,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",2012-11-25,"[{'id': 207317, 'name': 'christmas'}]",8-year-old Finn is terrified to learn his fami...,/6JPrRC0JPM06y17pUXD6w1xMvKi.jpg,0,0,23.978,5.2,335,134375,Home Alone: The Holiday Heist,"[{'adult': False, 'gender': 1, 'id': 8338, 'kn...","[{'adult': False, 'gender': 2, 'id': 11505, 'k..."
9641,10477,competit career sport automobil action talent ...,"[{'id': 28, 'name': 'Action'}]",2001-04-27,"[{'id': 271, 'name': 'competition'}, {'id': 36...",Talented rookie race-car driver Jimmy Bly has ...,/2aN2BBAbRyfEpfxZAQY82T8zWRq.jpg,54744738,54744738,13.200,5.2,594,10477,Driven,"[{'adult': False, 'gender': 2, 'id': 16483, 'k...","[{'adult': False, 'gender': 1, 'id': 2324, 'kn..."

In [59]:
x = data.loc[data['id']==24428].iloc[0]

In [61]:
x

id                                                          24428
tags            new york citi shield superhero base on comic a...
genres          [{'id': 878, 'name': 'Science Fiction'}, {'id'...
release_date                                           2012-04-25
keywords        [{'id': 242, 'name': 'new york city'}, {'id': ...
overview        When an unexpected enemy emerges and threatens...
poster_path                       /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg
Budget                                                 1518815515
Revenue                                                1518815515
popularity                                                 174.26
vote_average                                                  7.7
vote_count                                                  27687
movie_id                                                    24428
title                                                The Avengers
cast            [{'adult': False, 'gender': 2, 'id': 3223, 'kn...
crew            [{'adult': False, 'gender': 2, 'id': 37, 'know...
Name: 813, dtype: object